<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background:radial-gradient(rgb(43, 61, 133),rgb(102, 162, 208),rgb(136, 168, 164))">
    <div style="background:linear-gradient(rgb(113, 128, 205),rgb(103, 182, 209),rgb(100, 215, 161)); margin-left:180px; margin-right:200px">
<div style="margin-left:580px; margin-top:200px"><h1><i><strong>Sign Up</strong></i></h1></div>
<form method="GET" action="signupSubmit">
    Password:
    <input type="file" name="password" style="margin-left:14px" placeholder="Create your password" required><br><br>
   <input type="submit" value="Sign Up" style="margin-left:160px">
</form><br><br>
<h2 style="margin-left:570px">Already have an account?<h1 style="margin-left:660px"><a style="color:black"; href="/login">Login</a></h1></h2>
 </h3></div>
</body>
</html>