<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
       
    </style>
</head>
<body style="background:linear-gradient(rgb(163, 230, 249),rgb(190, 247, 190),rgb(176, 234, 210));">
   <div> 
   <div style="padding-left:20px;padding-top:30px; padding-right:20px"> <marquee style="background:radial-gradient(azure,rgb(162, 182, 249),rgb(91, 242, 123))"><font size="250px"><i>HI WELCOME TO WORKERS WEBSITE</i></font></marquee></div>
   <div style="float:left; padding-left:40px;padding-top:30px;"><a href="/bass"><img style="height:400px; width:600px" src="https://cdn.glitch.global/e1776f61-f94c-4095-98ac-3ed713c236c4/user.jpeg?v=1693377502065"></a><p><b><h2>If your user then click user image</h2></b>
<h3>User can take workers information</h3></p></div>
   <div style="float:right;padding-right:40px;padding-top:30px;"><a href="/basss"><img style="height:400px; width:600px" src="https://cdn.glitch.global/e1776f61-f94c-4095-98ac-3ed713c236c4/workers.jpg?v=1693377569556"></a><p><b><h2>If your worker then click worker image</h2></b>
    <h3>Workers stores information</h3></p></div></div>
    <div style="float:middle;padding-top:541px;"><a href="/logout"><button style="background:radial-gradient(azure,rgb(162, 182, 249),rgb(91, 242, 123))">LOG OUT</button></a></div>
 </body>
</html>