<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .jok{
      margin-top: 40px;
    }
    .nay{
      background:#EF5350;
      padding-right:20px;
      padding-left:10px;
      padding-bottom:20px;
    }
    .vin{
      margin-left:80px;
    }
    body {
      position: relative;
      background:rgba(255,82,82,1.0);
    }
    ul.nav-pills {
      top: 20px;
      position: fixed;
    }
    div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
    }
    
    
    @media screen and (max-width: 810px) {
      #section1, #section2, #section3, #section41, #section42  {
        margin-left: 150px;
      }
    }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
  <div class="row">
   <div class="container-fluid">
    <marquee style="background:linear-gradient(rgb(104, 164, 238),rgb(248, 11, 11),rgb(118, 176, 243))"><font size="180px"><i>HI WELCOME TO WORKERS WEBSITE</i></font></marquee>
   </div>  
   <div class="container-fluid">
      <div class="row jok">
        <nav class="col-lg-2 col-md-2 col-sm-2" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked nay" style="margin-top:70px;margin-left:20px">
           <li class="active" style="margin-top:20px"><a href="#section1"><span class="glyphicon glyphicon-home"></span>HOME</a></li>
            <li><a href="/basss">WORKER</a></li>
            <li><a href="/bass"><span class="glyphicon glyphicon-user"></span>USER</a></li>
            <li><a href="#section2">About Us</a></li>
            <li><a href="#section3"><span class="glyphicon glyphicon-phone"></span>Contact</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
          </ul>
        </nav>
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div id="section1">    
           <!-- <h1>Section 1</h1>-->
            <div class="container-fluid">
              <!--<h2>Carousel Example</h2>-->
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                   <a href="/basss"><img src="https://cdn.glitch.global/45420522-8f64-48b2-8af9-7d015fb17177/worker.jpg?v=1696741823073" alt="WORKER IMAGE" class="img-resonsive" style="width:100%; height:300px"></a>
                    <div class="carousel-caption">
                      <h3>WORKER ENTRY</h3>
                      <p><i>WORKER CAN STORE INFORMATION BY CLICKING THIS IMAGE</i></p>
                    </div>
                  </div>
                  <div class="item">
                    <a href="/bass"><img src="https://cdn.glitch.global/45420522-8f64-48b2-8af9-7d015fb17177/user.jpg?v=1696741781695" alt="USER IMAGE" class="img-responsive" style="width:100%; height:300px"></a>
                    <div class="carousel-caption">
                      <h3>USER ENTRY</h3>
                      <p><i>USER CAN TAKE WORKERS INFORMATION BY CLICKING THIS IMAGE</i></p>
                    </div>
                  </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div id="section2"> 
            <div class="container">
              <h2>WORKERS WEB APPLICATION</h2>
              <h4>WORKER ENTRY</h4>
              <p>Worker can store information such as Name,Mobile Number,Location,Occupation and Particular date when he was free</p>
              <h4>USER ENTRY</h4>
              <p>User get worker details such as Name and Mobile Number when Loaction,Occupation and Date is same</p>
              <h3>EXPLANATION OR PROCESS OF THIS WORKER WEB APPLICATION PRESENT IN THIS VIDEO</h3>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hiXKGwMHtHY"></iframe>
              </div>
            </div>
            </div>     
          <div id="section3" style="margin-top:90px">        
            <h1 class="vin">CONTACT DETAILS</h1>
            <h3 class="vin">Mobile Number:8297259116</h3>
            <p class="vin">Email:21pa1a04d2@vishnu.edu.in</p>
            <div class="vin"><img src="https://cdn.glitch.global/f26ffde6-fae5-4acc-aa04-881ce4dc57a4/myself.jpeg?v=1696818698230" class="img-circle-responsive" alt="Cinque Terre" style="height:110px;width:110px;border-radius:50%;margin-left:1vw;margin-top:6px;"></div>
              <h3 class="vin">VINAY PONNALA</h3>
              <h4 class="vin">INSTA ID:<a href="https://instagram.com/vinay__ponnala?igshid=OGQ5ZDc2ODk2ZA==">vinay__ponnala</a></h4>
            </div>     
</body>
</html>