<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .jok{
      margin-top: 40px;
    }
    body {
      position: relative;
    }
    ul.nav-pills {
      top: 20px;
      position: fixed;
    }
    div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
    }
    #section1 {color: #fff; background-color: #1E88E5;}
    #section2 {color: #fff; background-color: #673ab7;}
    #section3 {color: #fff; background-color: #ff9800;}
    #section41 {color: #fff; background-color: #00bcd4;}
    #section42 {color: #fff; background-color: #009688;}
    
    @media screen and (max-width: 810px) {
      #section1, #section2, #section3, #section41, #section42  {
        margin-left: 150px;
      }
    }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
  <div class="row">
   <div class="container-fluid">
  <!-- <img src="./lefttop.jpg" class="img-responsive col-xs-2" alt="Cinque Terre" height="3" >-->
    <marquee style="background:radial-gradient(azure,rgb(162, 182, 249),rgb(91, 242, 123))"><font size="180px"><i>HI WELCOME TO WORKERS WEBSITE</i></font></marquee>
    <!--<img src="./righttop.jpg" class="img-responsive col-xs-2" alt="Cinque Terre">-->
   </div> 
    <div class="container-fluid">
      <div class="row jok">
        <nav class="col-lg-2" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked" style="margin-top:70px">
            <li class="active" style="margin-top:20px"><a href="#section1">HOME</a></li>
            <li><a href="/bass">USER</a></li>
            <li><a href="/basss">WORKER</a></li>
            <li><a href="#section2">About Us</a></li>
            <li><a href="#section3">Contact</a></li>
            <li><a href="/logout">Log Out</a></li>
            <!--<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#section41">Section 4-1</a></li>
                <li><a href="#section42">Section 4-2</a></li>                     
              </ul>
            </li>-->
          </ul>
        </nav>
        <div class="col-lg-10">
          <div id="section1">    
           <!-- <h1>Section 1</h1>-->
            <div class="container-fluid">
              <!--<h2>Carousel Example</h2>-->
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
            
                  <div class="item active">
                    <img src="worker.jpg" alt="Los Angeles" class="img-responsive" style="width:100%; height:100%">
                    <div class="carousel-caption">
                      <h3>Los Angeles</h3>
                      <p>LA is always so much fun!</p>
                    </div>
                  </div>
            
                  <div class="item">
                    <img src="user.jpg" alt="Chicago" class="img-responsive" style="width:100%;height:100%">
                    <div class="carousel-caption">
                      <h3>Chicago</h3>
                      <p>Thank you, Chicago!</p>
                    </div>
                  </div>
              
                </div>
            
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            
          </div>
          <div id="section2"> 
            <!--<h1>Section 2</h1>
            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            <gradio-app src="https://karun27-karunkommireddy.hf.space"></gradio-app>-->
            <div class="jumbotron">
              <h1>WORKER WEB APPLICATION</h1>      
              <p>eufhuihfhuyfhifuyehfiuffhfyhfhifhhfw</p>
            </div>  
            </div>     
          <div id="section3">         
            <h1>Section 3</h1>
            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </div>
         <!-- <div id="section41">         
            <h1>Section 4-1</h1>
            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </div>      
          <div id="section42">         
            <h1>Section 4-2</h1>
            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </div>
        </div>
      </div>
    </div>
    </div>

  
<!--<div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
     Indicators 
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

     Wrapper for slides 
    <div class="carousel-inner">

      <div class="item active">
        <img src="la.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>LA is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <img src="chicago.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="ny.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
  
    </div>

     Left and right controls 
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
</div>-->
</body>
</html>